.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.4rem;
}
.menuLink {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  font-weight: bold;
  text-decoration: none;
  background-color: var(--primary);
  color: var(--text-over-primary);
  padding: 1rem;
  border-radius: 0.8rem;
}
.menuLink svg {
  width: 3.4rem;
  height: 3.4rem;
}
.menuLink:hover {
  filter: brightness(80%);
  transition: all 0.1s ease-in-out;
}
